.App {
  display: flex; /* Use flexbox to create a row layout */
}
.left-side {

  text-align: center;
  flex: 3; /* Take up 75% of available space */
  padding: 20px; /* Add some padding for spacing */
}

.right-side {
  flex: 1; /* Take up 25% of available space */
  padding: 20px; /* Add some padding for spacing */
}

/* Media query for mobile screens */
@media (max-width: 768px) {
  .left-side {
    flex: 2; /* Take up 50% of available space on mobile screens */
  }

  .right-side {
    flex: 2; /* Take up 50% of available space on mobile screens */
  }
}